:root { scroll-behavior: smooth; }

body { 
  background-image: -moz-linear-gradient(rgb(145, 185, 165), #ffffff);
}

/* main text */
p {
  font-family: "Besley", serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-indent: 2.5rem;
  text-align: justify;
  margin: auto;
  padding: .1rem 2rem;
  max-width: 75rem;
  orphans: inherit;
  line-height: 125%;
  color:rgb(0, 0, 0);
}

p.first {
  text-indent: 0;
}

#caps {
  font-variant: small-caps;
}

p.flashback {
  color:rgb(0, 69, 22);
  max-width: 60vw;
  text-align: left;
  font-size: 1.15rem;
  line-height: 120%;
  opacity: 80%;
}

p.epigraph {
  font-family: "DM Serif Display", serif;
  margin: 1.5em auto;
  max-width: 550px;
  font-weight: 100;
  color:rgb(67, 67, 67);
}

p.date {
  font-family: "Besley", serif;
  font-size: 1.4rem;
  color:rgb(3, 119, 5);
  text-align: center;
  text-indent: 0;
  padding-bottom: .4rem;
}

p.divider {
  padding: 1rem;
  font-size: 1.5rem;
  text-indent:0;
}

p.nav {
  font-size: 1.5rem;
  color:rgb(11, 198, 14);
  text-align: right;
  padding: 2rem;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 2.8rem;
  color:rgb(1, 128, 60);
  max-width: 60rem;
  margin: auto;
  padding-bottom: .5rem;
  }

 h2 {
  font-family: "Besley", serif;
  font-size: 1.5rem;
  color:rgb(3, 119, 5);
  padding-bottom: .6rem;
  font-weight: normal;
  }

h3 {
  font-family: "Besley", "Libre Baskerville", serif;
  font-size: large;
  color:rgb(7, 188, 10);
  }

img {
  margin: auto;
  display: flex;
  flex:auto;
}

 /* unvisited link */
a {
  color:rgb(11, 198, 14);
  text-decoration: none;
}

a:visited {
  color:rgb(0, 167, 114);
}

.icon {
  width: 20px;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  text-indent: 0;
  margin: auto;
}
/* Full Text Page*/

.title {
  padding-top: 4rem;
  padding-bottom: 5rem;
  margin: auto;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {

  .title img {
    width: 100vw;
  }

  .icon img {
    width: 20px;
  }  

  p {
    font-size: 1.1rem;
    font-weight: 300;
    text-indent: 1.7rem;
    text-align: left;
    margin: auto;
    padding: .1rem 1.5rem;
    max-width: 75rem;
    orphans: inherit;
    line-height: 120%;   
  }
  p.flashback {
    max-width: 75vw;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 120%;
  }

  p.jump {
    opacity: 50%;
    text-align: center;
    color:rgb(2, 147, 101);
    font-size: .8rem;
    text-indent: .3rem;
    padding-bottom: 1rem;
  }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  .title img {
    width: 90vw;
  }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {  
  .title img {
    width: 90vw;
  }
  
}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
  .title img {
    width: 80vw;
  }
  
}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
  .title img {
    width: 70vw;
  }
  
 } 

.chapter {
  padding-bottom: 20vh;
}

p.jump {
  opacity: 30%;
  text-align: center;
  color:rgb(0, 167, 114);
  font-size: 1rem;
  text-indent: .3rem;
  padding-bottom: 1rem;
}

p.jump:hover {
  opacity:100%;
}

/* Dropdown Menu */
.dropbtn {
  background-color: rgb(1, 128, 60);
  color: white;
  padding: .3rem .7rem;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-family: "Besley", serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 15.5rem;
}

.dropdown-content a {
  color: rgb(0, 57, 34);
  padding-left: .5rem;
  text-decoration: none;
  font-family: "Besley", serif;
  font-size: .9rem;
  display: block;
  border: 1px solid #004c3843;
}

.dropdown-content a:hover {
  background-color: #dbfed6;
}

.dropdown:hover .dropdown-content {
  display: block;
  max-height: 70vh;
  overflow: scroll;
}

.dropdown:hover .dropbtn {
  background-color: rgb(0, 192, 109);
}

/* FONTS */

/*main text font*/
.besley {
  font-family: "Besley", serif;
  font-style: normal;
}

/*chapter title font*/
.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

/*cross stitch*/
.yarndings-20-charted-regular {
  font-family: "Yarndings 20 Charted", system-ui;
  font-weight: 400;
  font-style: normal;
}

ul {
  margin: auto;
  font-size: 1.2rem;
  padding-left: 9rem;
}