:root { scroll-behavior: smooth; }

* {
  box-sizing: border-box;
}

/* main text */
h1 {
  margin: auto;
  padding: 1em;
  max-width: 11000px;    
  font-family: "Libre Baskerville", serif;
    font-size: x-large;
    font-weight: bold;
    color:rgb(255, 255, 255);

  }
  
h2 {
  font-weight: bold;  
  text-align: right;
    padding-right: 51px; 
    font-family: "Libre Baskerville", serif;
    font-size: medium;
    color:rgb(233, 233, 233);
    margin: auto;
  }

  h3 {
    text-align: center;
    margin: auto;
    font-family: "Libre Baskerville", serif;
    font-size: medium;
    color:rgb(6, 122, 25);
  }
img {
    text-align: center;
    margin: auto;
    max-height: 200px;
    opacity: 85%;
    padding: 1em;
}

img:hover {
  opacity: 100%;
}

p {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-size: large;
  margin: auto;
  text-align: justify;
  padding: 1em;
  max-width: 1100px;
  orphans: inherit;
  color:rgb(233, 233, 233);
}

.cushion {
  height: 80vh;
}

/*Page stuff */

.title {
  margin: -2em auto;
}

.summary. {
  background-image: linear-gradient(180deg,
  #3299ff,
  #ba47bc,
  #ff2a31);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  border-color: rgb(255, 255, 255);
  border-style:groove;
  border-width: 3px;
  border-radius: .5em;
  margin: auto;
  padding: 2em;
  max-width: 1150px;
}

body {
  background-image: url(images/transducer_bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-color: #10131f; 
}

button {
  background-color: #46403f00;
  color:rgba(146, 255, 197, 0.772);
  padding: 1rem;
  margin: 2rem;
  border-style: ridge;
  border-color:rgba(96, 255, 122, 0.49);
  border-width: 4px;
  text-align: center;
  font-size: 40px;
}

 /* unvisited link */
a {
  color:rgb(146, 255, 197);
}


/*toc*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 .5em;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
  .column {
    width: 100vw;
    padding: 8px 2px;
  }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  .column {
    width: 50%;
    padding: 8px 2px;
  }
  
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {  
  .column {
    flex: 30%;
    padding: 8px 2px;
  }
  
}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
  .column {
    flex: 30%;
    padding: 8px 2px;
  }
  
}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 4px;
  }

  .column {
    flex: 20%;
    padding: 8px 2px;
  }
  
 } 

/* Create 3 equal columns that sit next to each other */

.column img {
  vertical-align: middle;
}