:root { scroll-behavior: smooth; }

* {
  box-sizing: border-box;
}

/* main text */
h1 {
  margin: auto;
  padding: 1rem;
  max-width: 11000px;    
  font-family: "Libre Baskerville", serif;
    font-size: x-large;
    font-weight: bold;
    color:rgb(255, 255, 255);

  }
  
h2 {
    text-align: right;
    font-family: "DM Serif Display", serif;
    padding-right: 51px; 
    padding-bottom: .4em;
    font-size: 30pt;
    color:rgb(255, 255, 255);
    margin: auto;
  }

  h3 {
    text-align: center;
    margin: auto;
    font-family: "DM Serif Display", serif;
    font-size: 40pt;
    color:rgb(255, 255, 255);
  }
img {
  text-align: center;
  margin: auto;
}

img:hover {
  opacity: 100%;
}

p {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-size: large;
  margin: auto;
  text-align: justify;
  padding: 1rem;
  max-width: 1100px;
  orphans: inherit;
  color:rgb(233, 233, 233);
}

.cushion {
  height: 70vh;
}

/*Page stuff */

.title {
  margin: -2em auto;
}

.title img {
  width: 70vw;
  max-width: 600px;
  padding: 2rem;
}

.summary {
  border: 2px solid #ffffff;
  border-radius: .5em;
  margin: auto;
  padding: 1rem;
  max-width: 1150px;
}

.blurb {
  background-image: linear-gradient(180deg,
  #3299ff,
  #3299ff,
  #ba47bc,
  #ff2a31);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
}

body {
  background-image: url(images/transducer_bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-color: #10131f; 
}

button {
  background-color: #46403f00;
  width: 80px;
  height: 80px;
  color:rgba(146, 255, 197, 0.772);
  border: 2px solid rgb(4, 127, 203);
  border-radius: .25em;
  text-align: center;
  font-size: 40px;
}

 /* unvisited link */
a {
  color:rgb(255, 255, 255);
  text-decoration: none;
}


/*toc*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 1em .5em;
}

.column img {
  border: 2px solid rgb(255, 255, 255);
  max-height: 200px;
  opacity: 85%;
  vertical-align: middle;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
  .column {
    width: 100vw;
    flex-wrap: wrap;
    margin: auto;
    padding: 1rem 2rem;

  }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  .column {
    width: 50%;
    flex-wrap: wrap;
    margin: auto;
    padding: 1rem 2rem;

  }
  
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {  
  .column {
    flex: 30%;
    flex-wrap: wrap;
    padding: 8px 2px;
    margin: auto;

  }
  
}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
  .column {
    flex: 30%;
    flex-wrap: wrap;
    padding: 8px 2px;
    margin: auto;

  }
  
}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 4px;
    margin: auto;

  }

  .column {
    flex: 20%;
    padding: 8px 2px;
    margin: auto;

  }
  
 } 

/* Create 3 equal columns that sit next to each other */

.column img {
  vertical-align: middle;
}

/*emoji bank 🛰️🛸📻🔭🗂️☢️⌚️ */ 