:root { scroll-behavior: smooth; }

.cushion {
    height: 25rem;
    width: 1rem;
    color: white;
}

/* Dropdown Menu */
.floating-menu {
    font-family: sans-serif;
    background: rgb(213, 86, 13);
    padding: 1rem;
    width: 130px;
    z-index: 100;
    position: fixed;
    top: 2rem;
    right: 20rem;
    opacity: 50%;
  }
  
  .floating-menu a, 
  .floating-menu h3 {
    font-size: 1.2rem;
    display: block;
    margin: auto;
    color: white;
  }

  .floating-menu:hover {
    opacity: 100%;
  }

  